<footer class="footer">
    <p>© <span id="y"></span>
        <%= brandName %>. All rights reserved.
    </p>
</footer>
<script>document.getElementById('y').textContent = new Date().getFullYear()</script>